<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Template - HelloFlask{% endblock title %}</title>
        {% block styles %}{% endblock styles %}
    {% endblock head %}
</head>
<body>
<nav>
    <ul><li><a href="{{ url_for('index_view') }}">Home</a> </li></ul>
</nav>
<main>
    {% block content %} {% endblock content %}
</main>
<footer>
    {% block footer %}
    <p>You will luck!</p>
    {% endblock footer %}
</footer>
{% block scripts %} {% endblock %}
</body>
</html>