{% extends 'base.html' %}
{% from 'macros.html' import form_field %}  <!-- 导入宏 -->

{% block styles %}
    {{ static_file('css','css/bootstrap.min.css') }}
{% endblock styles %}

{% block content %}
<!--
<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.username.label }} {{ form.username(class='form-control') }}<br>
        {% for message in form.username.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class='form-control') }}<br>
        {% for message in form.password.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
    </div>
    <div class="form-check">
        {{ form.remember(class='from-check-input') }} {{ form.remember.label }}<br>
    </div>
    {{ form.submit(class='btn btn-primary') }}<br>
</form>
-->

<!--
Function: 演示通过宏来渲染表单字段
Chapter: 4.4.2
-->
<form method="post">
    {{ form.csrf_token }}
    {{ form_field(form.username, 'BEFORE') }}<br>
    {{ form_field(form.password, 'AFTER') }}<br>
    <div class="form-check">
        {{ form.remember(class='from-check-input') }} {{ form.remember.label }}<br>
    </div>
</form>

{% endblock content %}