{% extends 'base.html' %}
{% from 'macros.html' import qux %}

{% block styles %}
{{ super() }}
<style>
    .foo {
        color: red;
    }
</style>
{% endblock styles %}

{% block content %}
{% set name="baz" %}
<h1>Template</h1>
<ul>
    <li><a href="{{ url_for('f_watchlist')}}">WatchList</a> </li>
    <li>Filter: {{ foo|musicals }}</li>
    <li>Global: {{ bar() }}</li>
    <li>Test: {% if name is baz %} I am baz. {% endif %}</li>
    <li>Macro: {{ qux(amount=5) }}</li>
    <li><a href="{{ url_for('display_flash')}}">Display Flash</a></li>
</ul>

<form method="post">
    <label for="username">UserName</label>
    <input type="text" name="username" placeholder="Input User Name..."><br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Input Password..."><br>
    <input id="remember" name="remember" type="checkbox" checked>
    <label for="remember"><small>Plz remember me</small></label><br>
    <input type="submit" name="submit" value="Login">
</form>

{% endblock content %}
