{% extends 'base.html' %}
{% from 'macros.html' import form_field %}  <!-- 导入宏 -->

{% block styles %}
    {{ static_file('css','css/bootstrap.min.css') }}
{% endblock styles %}

{% block content %}
<!--
Function: 演示一个文件多个表单(多个视图)
          表单提交的时候, 需要指明目标视图(URL)
Chapter: 4.4.7_2
-->
<br>
<h1>第一个FORM</h1>
<br>
<form method="post" action="{{url_for('more_form_more_vew_pictures')}}" enctype="multipart/form-data">
    {{ imageform.csrf_token }}
    {{ form_field(imageform.description, "BEFORE") }}<br>
    {{ form_field(imageform.detail, "AFTER") }}<br>  {# 富文本编辑器, (Chapter 4.4.5) #}
    {{ form_field(imageform.images, "BEFORE") }}<br>
    {{ imageform.tempsubmit(class='btn btn-primary') }}<br>  {# 单个表单多个提交按钮, (Chapter 4.4.6) #}
    {{ imageform.submitimage(class='btn btn-primary') }}<br>
</form>
<br>
<h1>第二个FORM</h1>
<br>
<form method="post" action="{{url_for('more_form_more_vew_models')}}" enctype="multipart/form-data">
    {{ modelform.csrf_token }}
    {{ form_field(modelform.modelname, "BEFORE") }}<br>
    {{ form_field(modelform.modelpic, "BEFORE") }}<br>
    {{ modelform.submitmodel(class='btn btn-primary') }}<br>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}  {# 先继承base.html #}
{{ ckeditor.load() }}  {# 富文本编辑器, (Chapter 4.4.5) #}
{% endblock %}