{% extends 'base.html' %}
{% from 'macros.html' import form_field %}  <!-- 导入宏 -->

{% block styles %}
    {{ static_file('css','css/bootstrap.min.css') }}
{% endblock styles %}

{% block content %}
<!--
Function: 演示文件(图片)上传, 多个图片
          演示富文本编辑器
          演示单个表单多次提交
Chapter: 4.4.4_4, 4.4.5, 4.4.6
-->
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form_field(form.description, "BEFORE") }}<br>
    {{ form_field(form.detail, "AFTER") }}<br>  {# 富文本编辑器, (Chapter 4.4.5) #}
    {{ form_field(form.images, "BEFORE") }}<br>
    {{ form.tempsubmit(class='btn btn-primary') }}<br>  {# 单个表单多个提交按钮, (Chapter 4.4.6) #}
    {{ form.submit(class='btn btn-primary') }}<br>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}  {# 先继承base.html #}
{{ ckeditor.load() }}  {# 富文本编辑器, (Chapter 4.4.5) #}
{% endblock %}